
/* --Main Content-- */
body {
    /* background-color: hsla(0, 0%, 66%, 1); */
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
    text-decoration: underline;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    opacity: .7;
}

section, header {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

section {
    box-shadow: 3px 3px 5px;
}


/* --Animations-- */
@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}

@keyframes moveUpDown {
    
    0% {
        transform: translateY(10px);
    }
    33% {
        transform: translateY(5px);
        opacity: .7;
    }
    67% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(10px);
    }
}




/* --Header-- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, hsla(0, 0%, 86%, 1), hsla(0, 0%, 66%, 1));
}

header h1 {
    margin-left: 3rem;
}

nav {
    margin-right: 2rem;
}

nav li {
    display: inline;
    margin-right: 1rem;
}



/* --About-me/Contact-me Section-- */
#about-me, #contact-me {
    display: flex;
    text-align: left;
    background-image: url("./Images/Profile_pic.jpg");
    background-size: cover;
    height: 600px;
    
}

#about, #contact {
    margin-left: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 400px;
    align-self: center;
    background-color: hsla(0, 0%, 46%, .6);
    border-radius: 10px;
    font-size: 18px;
    animation: bounceIn 1s;
}

#contact div {
    display: flex;
    flex-direction: row;
    margin-left: 0rem;
}

#contact a {
    padding-right: 2rem;
    padding-bottom: 2rem;
}



/* --Projects Section-- */
#projects {
    background-image: radial-gradient(hsla(0, 0%, 36%, 1), hsla(0, 0%, 76%, 1));
}

#each-project {
    display: none;
    justify-content: space-around;
    animation: bounceIn .5s;
    padding-top: 2rem;
}


.projects {
    max-width: 400px;
    height: 750px;
}

.images {
    overflow: scroll;
    height: 500px;
}

.images img {
    max-width: 390px;
}

.heading {
    display: inline-flex;
    justify-content: space-between;
    
}

.triangle-down {
    padding: auto 25px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid hsla(0, 0%, 6%);
    animation: moveUpDown 1s ease-in-out 2s infinite;
}


/* --Skills Section-- */
#skills {
    background-image: linear-gradient(to bottom,hsl(208, 100%, 57%, 1),hsla(208, 100%, 57%,.7));
}

.skills {
    display: flex;   
    justify-content: space-around;
    
}

.skills p {
    padding: .5rem 1rem;
    background-color: hsla(0, 0%, 76%, 1);
    color: 	hsl(208, 100%, 17%);
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}



/* --Footer-- */
footer {
    background-color: hsla(0, 0%, 46%, 1);
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    padding-left: 2rem;
}



/* --For Smaller Screen Sizes-- */
@media only screen and (max-width: 940px) {
    .skills p {
        font-size: .75rem;
    }
    .images img {
        max-width: 250px;
    }
    .projects {
        max-width: 270px;
    }
    .images {
        height: 350px;
    }
}